<div class="container">
  <div class="content">
    <p class="spacer"></p>
    <%= form_for :whale, url: whale_path(@whale), method: :patch do |f| %>
      <% if @whale.errors.any? %>
        <div id="error_explanation">
          <% @whale.errors.full_messages.each do |msg| %>
            <p><%= msg %>!</p>
          <% end %>
        </div>
      <% end %>
      <p><div class="whale nofloat" style="background-color: <%= @whale.color %>"></div></p>

      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
     
      <p>
        <%= f.label :color %><br>
        <%= f.select :color, options_for_select([['Red', '#e84933'], ['Blue', '#9bcfdd'], ['Purple', '#c87e99'], ['Yellow', '#fee65e'], ['Green', '#c8db4d']], @whale.color) %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>
     
      <p>
        <%= f.submit %>
        <%= link_to 'Back', whale_path(@whale), class: "button" %>
      </p>
    <% end %>
  </div>
</div>